@page "/counter"

<PageTitle>Counter</PageTitle>

<div class="window" style="width:20rem;">
    <div class="title-bar">
        <button aria-label="Close" class="close"></button>
        <h1 class="title">Counter</h1>
        <button aria-label="Resize" disabled class="hidden"></button>
    </div>

    <div class="separator"></div>

    <div class="modeless-dialog">
        <section class="field-row" style="justify-content: flex-start">
            <label for="text_find" class="modeless-text" style="width: 8rem">Current count:</label>
            <input id="text_find" type="text" placeholder="" @bind-value="@_CurrentCount">
        </section>
        <section class="field-row" style="justify-content: flex-end">
            <button class="btn" @onclick="IncrementCount">Increment</button>
        </section>
    </div>
</div>

@code {
    private int _CurrentCount = 0;

    private void IncrementCount()
    {
        _CurrentCount++;
    }
}

